@use 'vars'; 

body {
  background-color: vars.$color-page;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 1rem;

  @media (min-width: vars.$mid) {
    grid-template-columns: min-content auto;
    grid-template-rows: 1fr;
    gap: 2rem;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  order: 2;
  overflow: hidden;
  width: 100%;

  @media (min-width: vars.$mid) {
    overflow-x: visible;
    overflow-y: clip;
    position: relative;
    top: 0;
    height: 100vh;
    order: 1;
  }

  .index & {
    justify-content: flex-end;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  order: 1;
  min-height: 100vh;
  
  @media screen and (min-width: vars.$mid) {
    justify-content: flex-end;
    order: 2;
  }
}
