@use 'vars'; 

body {
  font-family: 'Outfit', sans-serif;
  color: vars.$color-green;
  line-height: 1.4;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5  {
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
  line-height: 1.3;
}

h1, .h1 {
  font-size: calc(18px + (200 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-size: 20vw;
  letter-spacing: -0.05em;
  line-height: 1;
  transform: translateY(33%);
  writing-mode: horizontal-tb;
  @media (min-width: vars.$mid) {
    font-size: calc(20px + (200 - 20) * ((100vw - 300px) / (1600 - 300)));
    font-size: 18vw;
    transform: translateX(-33%);
    writing-mode:  vertical-lr;
  }
  @media (min-width: vars.$wide) {
    font-size: 10vw;
    transform: translateY(33%);
    writing-mode: horizontal-tb;
    width: 5ch;
  }
}

h2, .h2 {
  font-size: 3.157rem;
  line-height: 1.2;
  margin: 0 0 1.38rem;
}

h3, .h3 {
  font-size: 2.369rem;
  line-height: 1.2;
  margin: 0 0 1.38rem;
}

h4, .h4 {
  font-size: 1.777rem;
  margin: 0 0 1rem;
}

h5, .h5 {
  font-size: 1.333rem;
  margin: 0 0 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1rem;

  @media (min-width: vars.$mid) {
    font-size: 1.2rem;
  }
}

small, .text_small {font-size: 0.75rem;}