/* breakpoints for media queries */
$narrow: 400px;
$mid: 700px;
$wide: 900px;
$widest: 1200px;

/* colours */
$color-dark: #28282a;
$color-green: #08360f;
$color-orange: #ff4e00;
$color-pink: #fcc1b3;
$color-page: #efefe7;
$color-text: $color-dark;
