---
import LayoutWork from "../layouts/LayoutWork.astro";
import BadgesTech from "../components/BadgesTech.astro";
---

<LayoutWork title='Work'>
  <section>
    <h2><a href='https://bikeclub.com/'>Bike Club</a></h2>
    <p class='date'>Jan 2023 &mdash; Aug 2024</p>
    <BadgesTech
      techItems={[
        "React",
        "Next.js",
        "TypeScript",
        "Jest",
        "Storybook",
        "GraphQL",
        "Dato CMS",
        "Chakra UI",
        "Shopify",
        "Liquid",
      ]}
    />
    <div class='description'>
      <p>
        Migration of the UK store from a Shopify site to a headless
        e&#8209;commerce setup, reconstructing the site UI with React and Next,
        whilst retaining Shopify for the store's back-end. Led the development
        work stream creating the new product pages and played a pivotal role in
        the development of the new cart, exchanges, and cancellation
        functionalities.
      </p>
      <p>
        Day-to-day maintenance across Bike Club country sites including the UK,
        Germany, and Spain. Developed new features, UI enhancements, and bug
        fixes, as well as the initial setup and template build of the Spain and
        the soon to launch Netherlands Shopify sites.
      </p>
      <p>
        Developed unit tests using the Jest testing framework in tandem with
        React Testing Library. As well as keeping Storybook up-to-date with new
        and updated components.
      </p>
      <p>
        Provided support in code reviews and mentored junior developers within
        the team.
      </p>
      <p>
        Internationalisation POC of the UK site, bringing our sites across
        Europe from Shopify to one unified design system and codebase.
      </p>
    </div>
    <h2><a href='https://www.sungod.co/'>SunGod</a></h2>
    <p class='date'>Sept 2021 &mdash; Dec 2022</p>
    <BadgesTech
      techItems={["Vue", "Nuxt.js", "Tailwind CSS", "GraphQL", "Dato CMS"]}
    />
    <div>
      <p>
        Developed new features for the site, major projects have included
        overhauling the site's main navigation, updates to the product pages and
        product customiser, as well as revamping the “lens guide” part of the
        product page.
      </p>
      <p>
        Built a separate competition sub-site, utilising Nuxt with content
        coming from Dato, allowing the partnerships team to create competitions
        with limited to no input from the tech team.
      </p>
      <p>
        Created a system for sending transactional emails from webhooks, built
        using NodeJS, outputting statically rendered HTML emails, from a
        combination of Vue and MJML.
      </p>
      <p>
        Day-to-day maintenance of the main SunGod storefront site, working to
        resolve any bugs on the site identified from the tech team or reported
        from the wider business.
      </p>
    </div>
    <h2>ITG</h2>
    <p class='date'>Feb 2020 &mdash; Sept 2021</p>
    <BadgesTech
      techItems={[
        "React",
        "Framer Motion",
        "TypeScript",
        "SCSS",
        "SFMC",
        "jQuery",
      ]}
    />
    <div class='description'>
      <p>
        Landing pages and micro-sites for a variety of clients, using HTML,
        CSS/SCSS, and a combination of vanilla JS, jQuery and TypeScript.
      </p>
      <p>
        Created competition and offer pages for Virgin Media, including a
        "Santa's Virtual Grotto" competition. This competition was in
        conjunction with Scope, so involved working alongside their
        accessibility team to ensure that the site was accessible to a wide
        range of users and met WACAG AA compliance. Built using HTML, SCSS and
        TypeScript and deployed in Canopy Deploy.
      </p>
      <p>
        Built semina & webinar sign-up forms and survey sites for various brands
        across two pharmaceutical companies (Bayer and J&J) using HTML, SCSS,
        and JS in Salesforce Marketing Cloud.
      </p>
      <p>
        Developed a proof of concept for a clients in-house monthly magazine,
        built using React/Next.JS with Framer Motion.
      </p>
    </div>
  </section>
</LayoutWork>
<style>
  section {
    display: grid;
    row-gap: var(--space-4);
    column-gap: var(--space-4);
    grid-template-columns: 1fr;
    @media (min-width: 860px) {
      grid-template-columns: 1fr 2fr;
      column-gap: var(--space-8);
    }
    @media (min-width: 1200px) {
      grid-template-columns: 1fr 3fr;
      column-gap: var(--space-16);
    }
  }
  h2 {
    margin-top: var(--space-8);
    line-height: 1;
    @media (min-width: 700px) {
      margin-top: var(--space-12);
    }
    @media (min-width: 1000px) {
      margin-top: var(--space-14);
    }
    a {
      display: flex;
      align-items: center;
      white-space: nowrap;
      text-decoration: none;
      width: min-content;
      &:hover {
        color: var(--color-secondary);
        @supports (-webkit-text-stroke: 2px var(--color-secondary)) {
          color: transparent;
          -webkit-text-stroke: 2px var(--color-secondary);
        }
      }
      &::after {
        content: "";
        margin-left: var(--space-3);
        background-image: url("/icon_arrow_outward.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 1ch;
        width: 1.2ch;
        line-height: 1;
      }
    }
  }
  .date {
    align-self: end;
    margin: 0;
    font-weight: var(--fontWeight-medium);
  }
  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
</style>
