---
interface Props {
  pathname: string;
}
const { pathname } = Astro.props;
---

<nav>
  <ul>
    <li>
      <a href='/' class={pathname === "" ? "current" : ""}
        ><span class='only-sm'>Hm</span><span class='only-lg'>Home</span></a
      >
    </li>
    <li>
      <a href='/work' class={pathname === "work" ? "current" : ""}
        ><span class='only-sm'>Wk</span><span class='only-lg'>Work</span></a
      >
    </li>
    <li>
      <a href='/lab' class={pathname === "lab" ? "current" : ""}
        ><span class='only-sm'>Ex</span><span class='only-lg'>Experiments</span
        ></a
      >
    </li>
    <li>
      <a href='/photography' class={pathname === "photography" ? "current" : ""}
        ><span class='only-sm'>Ph</span><span class='only-lg'>Photography</span
        ></a
      >
    </li>
  </ul>
</nav>

<style>
  nav {
    width: 100%;
    padding: 0 var(--space-3) var(--space-6);
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: max-content;
    list-style: none;
    gap: var(--space-6);
    margin: 0 auto;
    font-weight: var(--fontWeight-bold);
    font-family: var(--font-heading);
    @media (min-width: ) {
      gap: var(--space-8);
    }
    li {
      .only-sm {
        display: inline-block;
        @media (min-width: 700px) {
          display: none;
        }
      }
      .only-lg {
        display: none;
        @media (min-width: 700px) {
          display: inline-block;
        }
      }
    }
  }
  a {
    text-decoration: none;
    &.current {
      color: var(--color-secondary-light);
      text-decoration: underline;
    }
  }
</style>
